header{
	border: black 1.5px solid;
	background-color: #ccfafb;
	height: 100px;
	padding: 20px;
	position: fixed;
	z-index: 2;
	width: 100%;
}
header .part1{
	display: inline-block;
	width: 50%;
	font-size: 40%;
	font-weight: bold;
	vertical-align: middle;
}
#picture{
	vertical-align: middle;
	width: 60px;
	padding-left: 150px;
}
menu{
	display: inline-block;
	width: 50%;
	text-align: center;
	color: #1d383c;
	font-size:25px;
	float: right;
}
section{
	border: black 1.5px solid;
	background-color: #599acd;
	height: 90px;
	text-align: center;
	color: white;
	font-style: italic;
	font-size: 20px;
	position: absolute;
	top: 150px;
	z-index: 1;
	width: 100%;
	padding-top: 20px;
}
main{
	border: black 1.5px solid;
	background-color: white;
	position: absolute;
	top: 250px;
	z-index: 1;
}
content{
	
	height: 300px;
	width:20% ;
	float: left;
	margin:10px 0 10px 130px;
	padding:10px;
	font-size: 15px;
    font-family: 'Yellowtail', cursive;
	color: #000000
}
a{
	font-family: 'roboto',sans-serif;
	font-size: 25px;
	color: #1769b1;
}
footer{
	border: black 1.5px solid;
	background-color: #599acd;
	height:30px;
	text-align: center;
	padding-top: 10px;
	color: white;
	position: fixed;
	bottom: 0;
	z-index: 1;
	width: 100%;
}

#scroll-to-top{
	position: fixed;
    bottom: 80px;
    right: 0;
    color: #252121cf;
    display: block;
    width: 120px;
    height: 35px;
    text-align: center;
    border:black 1.5px solid;
    border-radius:5px; 
    vertical-align: middle;
    z-index: 99;

}


